@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Roboto:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
